<?php

namespace Magento2PimcoreBundle\Resources\Magento;

class MagentoConfig {

    public static function getConfig() {
        return array(
            "path" => "http://magento.base.url",
            "apiKey" => "MY-API-KEY"
        );
    }
    
    public static function getBaseUrl(){
        return "http://pimcore.base.url";
    }

}
