<?php

namespace Magento2PimcoreBundle\Resources\Magento;

class MagentoConfig {

    public static function getConfig() {
        return array(
            "path" => "http://supermagento2.wstechlab.com",
            "apiKey" => "9ny1jvob0o0ofogm8yt8d3a9t1uj1g88"
        );
    }
    
    public static function getBaseUrl(){
        return "http://pimcore.local:9080";
    }

}
