<?php
namespace SintraPimcoreBundle\Resources\Ecommerce;

class BaseEcommerceConfig {
    public static $updateProductPrices = false;
    protected static $url;
    protected static $apiKey;
    protected static $pimcoreBaseUrl = "http://your/pimcore/url";
    protected static $customLogTablename = "custom_log"; 

    public static function getConfig() {
        return array(
                "path" => static::$url,
                "apiKey" => static::$apiKey
        );
    }

    public static function getBaseUrl(){
        return static::$pimcoreBaseUrl;
    }
    
    public static function getCustomLogTableName(){
        return static::$customLogTablename;
    }
    
    public static function getEnabledIntegrations(){
        return array(
            "magento2" => true,
            "shopify" => true,
            "..."
        );
    }
    
    public static function getCustomizationInfo(){
        return array(
            /*
             * Will be searced in SintraPimcoreBundle/Custom folder
             * If null or empty, skip customizations
             */
            "namespace" => "RepositoryNamespace"
        );
    }
}