<?php
namespace SintraPimcoreBundle\Resources\Ecommerce;

class BaseEcommerceConfig {
    /**
     * The URL of your pimcore installation
     */
    protected static $pimcoreBaseUrl = "http://your.pimcore.url";
    
    /**
     * The folder in which export files will be placed
     */
    protected static $exportFolder = "/your/export/folder";
    
    /**
     * The custom log database table name that will be created after Bundle install
     */
    protected static $customLogTablename = "custom_log"; 

    public static function getBaseUrl(){
        return static::$pimcoreBaseUrl;
    }
    
    public static function getExportFolder(){
        return static::$exportFolder;
    }
    
    public static function getCustomLogTableName(){
        return static::$customLogTablename;
    }
    
    public static function getCustomizationInfo(){
        return array(
            /*
             * Bundle created to implement custom overriding
             * Will be searced in src folder
             * If null or empty, skip customizations
             */
            "namespace" => "CustomBundle"
        );
    }
}