<?php
namespace SintraPimcoreBundle\Resources\Ecommerce;

include 'BaseEcommerceConfig.php';

class MagentoConfig extends BaseEcommerceConfig{

    public static $updateProductPrices = false;
    protected static $url = "http://your/magento/url";
    protected static $apiKey = "your-magento-api-key";
}
